<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

    <flux:form id="teufelsCptCntBsBtn"
               label="TYPO3 :: Bootstrap :: Button"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">
    
        
            <flux:field.custom name="customClass">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Class</h4>
                    <p>Use any of the available button classes to quickly create a styled button.</p>
                    <!-- Standard button -->
                    <button type="button" class="btn btn-default">Default</button>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Primary</button>
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-success">Success</button>
                    <!-- Contextual button for informational alert messages -->
                    <button type="button" class="btn btn-info">Info</button>
                    <!-- Indicates caution should be taken with this action -->
                    <button type="button" class="btn btn-warning">Warning</button>
                    <!-- Indicates a dangerous or potentially negative action -->
                    <button type="button" class="btn btn-danger">Danger</button>
                    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                    <button type="button" class="btn btn-link">Link</button>
                </div>
            </flux:field.custom>
            <flux:field.select name="class" items="default,primary,success,warning,danger,info" size="1" maxItems="1" />

            <flux:field.custom name="customSize">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Size</h4>
                    <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn btn-default btn-lg">Large button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary">Default button</button>
                        <button type="button" class="btn btn-default">Default button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                        <button type="button" class="btn btn-default btn-sm">Small button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                        <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                    </p>
                </div>
            </flux:field.custom>
            <flux:field.select name="size" items="btn-default,btn-lg,btn-sm,btn-xs" size="1" maxItems="1" />

            <flux:field.input name="target" label="Target">
                <flux:wizard.link />
            </flux:field.input>


            <flux:field.custom name="customText">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Button Label</h4>
                    <p>
                        <button type="button" class="btn btn-default btn-sm">{text}</button>
                    </p>
                </div>
            </flux:field.custom>
            <flux:field.input name="text" default="Lorem ipsum"/>

            <flux:field.checkbox name="tooltip" label="Tooltip" />
            <flux:field.input name="title" />


            <flux:field.custom name="customBlock">
                <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                    <h4>Full With</h4>
                    <p>Create block level buttons - those that span the full width of a parent - by adding <code>.btn-block</code>. To do so, please use the checkbox below.</p>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
                    </p>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="block" />


            <flux:field.input name="additionalClassNames" />
            <flux:field.select name="wrapTag" items="none,span,p,div,dt,dd,fieldset" />

            <flux:field.custom name="customIconClass">
            <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                <h4>Available glyphs</h4>
                <p>Includes 200 glyphs in font format from the Glyphicon Halflings set. <a href="http://glyphicons.com/">Glyphicons</a> Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to <a href="http://glyphicons.com/">Glyphicons</a> whenever possible.</p>
                <p>Please copy the text below the glyph you want to use - e.g. <code>glyphicon glyphicon-asterisk</code> for the asterisk glyph - and paste it into the textfield below.</p>
            </div>

            <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">

                    <li>
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-plus</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-euro"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-euro</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-minus"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-minus</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-cloud"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-cloud</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-envelope</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-pencil</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-glass"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-glass</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-music"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-music</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-search</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-heart</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-star</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-star-empty</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-user</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-film"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-film</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-th-large</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-th</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-th-list</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-ok</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-remove</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-zoom-in</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-zoom-out"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-zoom-out</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-off"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-off</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-signal"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-signal</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-cog</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-trash</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-home</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-file"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-file</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-time</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-road"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-road</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-download-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-download-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-download"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-download</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-upload</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-inbox"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-inbox</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-play-circle"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-play-circle</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-repeat"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-repeat</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-refresh"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-refresh</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-list-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-lock"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-lock</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-flag</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-headphones"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-headphones</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-volume-off"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-volume-off</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-volume-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-volume-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-volume-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-volume-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-qrcode"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-qrcode</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-barcode"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-barcode</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tag"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tag</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tags</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-book"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-book</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-bookmark</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-print</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-camera"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-camera</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-font"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-font</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-bold"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-bold</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-italic"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-italic</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-text-height"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-text-height</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-text-width"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-text-width</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-align-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-align-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-align-center"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-align-center</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-align-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-align-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-align-justify</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-list</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-indent-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-indent-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-indent-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-indent-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-facetime-video</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-picture</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-map-marker</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-adjust"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-adjust</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tint"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tint</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-edit</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-share"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-share</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-check"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-check</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-move"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-move</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-step-backward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-step-backward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-fast-backward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-fast-backward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-backward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-backward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-play"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-play</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-pause"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-pause</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-stop"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-stop</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-forward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-forward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-fast-forward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-fast-forward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-step-forward"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-step-forward</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-eject"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-eject</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-chevron-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-chevron-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-plus-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-minus-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-remove-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-ok-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-ok-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-question-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-info-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-screenshot"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-screenshot</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-remove-circle</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-ok-circle</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-ban-circle</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-arrow-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-arrow-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-arrow-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-arrow-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-arrow-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-arrow-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-share-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-resize-full"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-resize-full</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-resize-small"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-resize-small</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-exclamation-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-gift"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-gift</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-leaf"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-leaf</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-fire"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-fire</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-eye-open</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-eye-close"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-eye-close</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-warning-sign</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-plane"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-plane</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-calendar</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-random"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-random</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-comment</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-magnet"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-magnet</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-chevron-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-chevron-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-retweet"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-retweet</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-shopping-cart</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-folder-close</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-folder-open</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-resize-vertical"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-resize-vertical</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-resize-horizontal"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-resize-horizontal</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hdd"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hdd</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-bullhorn</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-bell</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-certificate"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-certificate</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-thumbs-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-thumbs-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hand-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hand-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hand-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hand-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hand-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hand-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hand-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hand-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-right</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-left</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-globe"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-globe</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-wrench"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-wrench</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tasks"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tasks</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-filter"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-filter</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-briefcase"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-briefcase</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-fullscreen"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-fullscreen</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-dashboard"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-dashboard</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-paperclip</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-heart-empty</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-link"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-link</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-phone"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-phone</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-pushpin</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-usd"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-usd</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-gbp"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-gbp</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-order</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-order-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-unchecked</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-expand"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-expand</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-collapse-down"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-collapse-down</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-collapse-up"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-collapse-up</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-log-in</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-flash"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-flash</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-log-out</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-new-window"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-new-window</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-record"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-record</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-save"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-save</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-open"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-open</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-saved"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-saved</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-import"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-import</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-export"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-export</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-send"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-send</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-floppy-disk</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-floppy-saved</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-floppy-remove</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-floppy-save</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-floppy-open"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-floppy-open</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-credit-card</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-transfer"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-transfer</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-cutlery"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-cutlery</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-header"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-header</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-compressed"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-compressed</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-earphone"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-earphone</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-phone-alt</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tower"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tower</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-stats</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sd-video"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sd-video</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-hd-video"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-hd-video</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-subtitles"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-subtitles</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sound-stereo"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sound-stereo</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sound-dolby"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sound-dolby</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sound-5-1"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sound-5-1</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sound-6-1"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sound-6-1</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-sound-7-1"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-sound-7-1</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-copyright-mark"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-copyright-mark</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-registration-mark"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-registration-mark</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-cloud-download</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-cloud-upload</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tree-conifer</span>
                    </li>

                    <li>
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-tree-deciduous</span>
                    </li>

                </ul>
            </div>
            </flux:field.custom>
            <flux:field.input name="iconClass" />
            <flux:field.select name="iconPlacement" items="right,left"/>

        </flux:form>
    </f:section>

    <f:section name="Preview">

        <button type="button" href="javascript:;" class="btn {size} btn-{class} {additionalClassNames}{f:if(condition: block, then: ' btn-block')}" rel="{f:if(condition: tooltip, then: 'tooltip')}" title="{title}" target="_blank">
            <f:render section="Text" arguments="{_all}" />
        </button>

    </f:section>

    <f:section name="Main">
        <f:if condition="{0: wrapTag} != {0: 'none'}">
            <f:then>
                <{wrapTag} class="button-wrap">
                <f:render section="Button" arguments="{_all}" />
                </{wrapTag}>
            </f:then>
            <f:else>
                <f:render section="Button" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:section>

    <f:section name="Button">

        <v:variable.set name="pos" value=""/>
        <v:variable.set name="target_" value="{v:format.substring(content: '{target}', start: '-6', length: '6')}"/>
        <v:variable.set name="target__" value=""/>
        <f:if condition="{target_} == '_blank'">
            <v:variable.set name="target__" value="_blank"/>
        </f:if>
        <!-- {target_} -->
        <f:if condition="{iconClass}">
            <f:if condition="{iconPlacement}">
                <f:then>
                    <v:variable.set name="pos" value=" {iconPlacement}"/>
                </f:then>
            </f:if>
        </f:if>

        <a href="{v:uri.typolink( configuration: '{parameter: target}')}" class="btn{pos} {size} btn-{class} {additionalClassNames}{f:if(condition: block, then: ' btn-block')}" rel="{f:if(condition: tooltip, then: 'tooltip')}" title="{title}" target="{target__}">
            <f:render section="Text" arguments="{_all}" />
        </a>
    </f:section>

    <f:section name="Text">
        <f:if condition="{iconClass}"><f:if condition="{iconPlacement} == 'left'"><f:then><span class="{iconClass}"></span></f:then></f:if></f:if>
        {text}
        <f:if condition="{iconClass}"><f:if condition="{iconPlacement} == 'right'"><f:then><span class="{iconClass} {iconPlacement}"></span></f:then></f:if></f:if>
    </f:section>

</div>
